
.i-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 40%;
}


.iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .hero {
        margin-top: 15%;
    }

    .history {
        padding-top: 35%;
    }

    .card {
        border: none;
    }
}