
.section-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.carousel-item {
    height: 100vh;
}

.carousel-item img {
    transform: translateY(-10%);
}

.section-2 {
    height: 100vh;
}
.section-3 {
    height: 100vh;
}